.list-preview {
    list-style-type: none;
    width: 80%;
    margin: auto;
}

@media (max-width:1020px) {
    .list-preview {
        width: 80%;
        margin-top: 40px;
    }
}

@media (max-width:670px) {
    .list-preview {
        width: 100%;
    }
}