.closeEmail {
    display: flex;
    margin-bottom: 20px;
}

.openEmail {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row-reverse;
}

.from,
.subject {
    margin: 0;
    margin-right: 30px;
}

.mail-info * {
    margin-bottom: 10px;
}

.subject {
    font-size: 1rem;
}

.preview-buttons {
    display: flex;
    align-items: center;
}

.trash-img,
.extend-img,
.read-img {
    width: 20px;
    height: 20px;
}

.delete-email,
.open-email,
.star-email,
.read-email {
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    outline-width: 0;
}

.read {
    font-weight: normal;
}

.notRead {
    font-weight: bold;
}

.white-star {
    font-size: 2rem;
}

.yellow-star {
    font-size: 1.2rem;
}