.email-preview {
    display: flex;
    margin-bottom: 20px;
    border-bottom: 1px solid lightslategray;
    position: relative;
    flex-direction: column;
    cursor: pointer;
}

.email-preview .data {
    justify-content: space-around;
}

.close-email {
    margin-bottom: 20px;
    justify-content: space-between;
    width: 100%;
}

.close-email * {
    margin-right: 10px;
}

.open-email {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 90%;
    height: 100%;
    margin-left: 20px;
}

.from {
    margin: 0;
    margin-right: 20px;
    font-size: 1rem;
    width: 100px;
}

.sent-at {
    font-size: 0.9rem;
}

.address {
    font-size: 0.9rem;
}

.mail-info * {
    margin-bottom: 10px;
    display: flex;
}

.subject {
    font-size: 0.9rem;
    margin: 0;
    margin-right: 5px;
    white-space: nowrap;
}

.preview-buttons {
    display: flex;
    align-self: flex-end;
}

.extend-img {
    width: 20px;
    height: 20px;
}

.delete-email,
.open-email-btn,
.star-email,
.read-email {
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    outline-width: 0;
    height: 20px;
    margin-left: 5px;
}

.read-email {
    color: #506D21;
}

.read .subject {
    font-weight: normal;
}

.read .from {
    font-weight: normal;
}

.not-read {
    font-weight: bold;
}

.white-star {
    font-size: 1.2rem;
}

.yellow-star {
    font-size: 1.2rem;
    color: yellow;
    text-shadow: 0 0 3px #000;
}

.envelope,
.trash {
    font-size: 1.3rem;
    cursor: pointer;
}

.star {
    font-size: 1.2rem;
    cursor: pointer;
}

@media (max-width:670px) {
    .subject {
        white-space: nowrap;
        overflow: hidden;
        width: 120px;
        text-overflow: ellipsis;
    }
    .from {
        width: 20%;
    }
}