.email-preview {
    display: flex;
    position: relative;
    margin-bottom: 20px;
    border-bottom: 1px solid lightslategray;
}

.closeEmail {
    display: flex;
    margin-bottom: 10px;
}

.openEmail {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row-reverse;
}

.from {
    margin: 0;
    margin-right: 30px;
}

.mail-info * {
    margin-bottom: 10px;
}

.subject {
    font-size: 1rem;
    margin: 0;
    margin-right: 5px;
}

.preview-buttons {
    display: flex;
    align-items: center;
}

.extend-img {
    width: 20px;
    height: 20px;
}

.delete-email,
.open-email,
.star-email,
.read-email {
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    outline-width: 0;
    height: 20px;
    margin-left: 5px;
}

.read {
    font-weight: normal;
}

.notRead {
    font-weight: bold;
}

.white-star {
    font-size: 1.2rem;
}

.yellow-star {
    font-size: 1.2rem;
    color: yellow;
    text-shadow: 0 0 3px #000;
}

.envelope,
.trash {
    font-size: 1.3rem;
    cursor: pointer;
}

.star {
    font-size: 1.2rem;
    cursor: pointer;
}