.clock-img,
.paper-img,
.sent-img,
.reply-img {
    width: 20px;
    height: 20px;
}

.snoozed-email,
.draft-email,
.sent-email,
.reply-email {
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    outline-width: 0;
}