textarea[name=body] {
    resize: none;
}

.form-msg input {
    padding: 5px;
    outline-width: 0;
}

.form-msg textarea {
    height: 200px;
    outline-width: 0;
}

.form-msg * {
    width: 200px;
    padding: 40px;
}

.form-title {
    background-color: black;
    color: white;
    padding: 10px;
}

.send {
    background-color: #008CBA;
    color: white;
    border: 2px solid #008CBA;
    cursor: pointer;
    align-self: flex-start;
    height: 40px;
    width: 90px;
    border-radius: 0.2rem;
    position: relative;
    bottom: 45px;
    margin-left: 15px;
    font-size: 14px;
}

.reset-img {
    width: 30px;
    height: 30px;
}

.reset {
    background-color: transparent;
    border: none;
    align-self: flex-end;
    position: relative;
    bottom: 77px;
    padding-right: 15px;
    cursor: pointer;
}