textarea[name=body] {
    resize: none;
}

.form-msg input {
    padding: 5px;
    outline-width: 0;
}

.form-msg textarea {
    height: 200px;
    outline-width: 0;
    padding: 15px;
    /* border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; */
}

.form-msg * {
    width: 100%;
}

.form-title {
    background-color: black;
    color: white;
    padding: 10px;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.send {
    align-self: flex-start;
    height: 40px;
    width: 90px;
    position: relative;
    bottom: 45px;
    margin-left: 15px;
    padding: 5px 10px;
    font-size: 1rem;
    border-radius: 4px;
    outline-width: 0;
    transition: 0.3s;
    background-color: #506D21;
    border: 1px solid #506D21;
    color: white;
    transition: 0.2s;
    cursor: pointer;
}

.send:hover {
    background-color: white;
    color: #506D21;
    border: 1px solid #506D21;
}

.remove {
    background-color: transparent;
    border: none;
    align-self: flex-start;
    position: relative;
    left: 900px;
    bottom: 77px;
    cursor: pointer;
}

.remove span {
    font-size: 30px;
}