.note-app {
    padding: 32px 16px 0;
    background-color: lightgray;
    height: 100vh;
}

.notes-list {
    list-style-type: none;
    column-count: 3;
    column-fill: auto;
}

.note {
    background-color: rgb(123, 123, 160);
    padding: 10px;
    margin: 10px;
    break-inside: avoid;
}