.note-app {
    padding: 32px 16px 0;
    background-color: lightgray;
    height: 100%;
}

.notes-list {
    list-style-type: none;
    column-count: 4;
    column-fill: auto;
    column-gap: 3em;
    display: block;
}

.note {
    background-color: rgb(123, 123, 160);
    padding: 10px;
    margin: 10px;
    break-inside: avoid;
    margin-top: 0
}

.toolbar {
    display: inline;
}

.toolbar span {
    cursor: pointer;
}