.app-header {
    margin-top: 10px;
}

.header-container {
    padding: 5px 20px;
}

.link {
    margin-left: 20px;
    text-decoration: none;
    font-size: 1.25rem;
}

.router-link-active {
    color: red;
}

.logo {
    font-size: 1.3rem;
}