.app-header {
    margin-top: 10px;
}

.header-container {
    padding: 5px 20px;
}

.link {
    margin-left: 20px;
    text-decoration: none;
    font-size: 1.25rem;
    color: black;
}

.router-link-active {
    color: #506D21;
}

.logo {
    font-size: 2rem;
    font-family: Inconsolata-bold;
}